
@{
    ViewBag.Title = "ChiSiamo";
}


@*<div id="login-title" style="margin-top:100px"></div>*@




<div class="container-fluid my-5">
    <div class="row justify-content-center pb-5">
        <div class="col-md-8 text-center mx-3">
            <h4 class="fw-bold my-3">Chi Siamo</h4>
            <hr class="my-5" />
            <div class="text-start">
                <p>Nata nel 2024, <b>EpicOne✨</b> è la prima società in Italia di biglietteria, marketing, informazione e commercio elettronico per eventi di musica, spettacolo, sport e cultura. EpicOne✨ è leader in Italia nel proprio settore con diversi milioni di biglietti commercializzati attraverso la propria piattaforma multicanale. <br />Tra i suoi clienti si contano nella musica tutti i più importanti promoter, nello sport la Federazione Italiana Tennis, la Federazione Italiana Rugby, 23 squadre di calcio tra serie A, B e LegaPro e gli autodromi dove ogni anno si svolgono le gare italiane di Formula 1, MotoGP e Superbike. <br />E poi ancora i più noti teatri di tradizione o di intrattenimento, musical, cabaret, family show, festival estivi teatrali ed operistici,  oltre che mostre e circuiti museali, gestiti principalmente dalla controllata TOSC. </p>
                <p>Dal 2024 EpicOne✨ è entrata a far parte di un circuito europeo guidato dalla tedesca <b>CTS Eventim</b> (quotata alla Borsa di Francoforte) con la prospettiva di allargare ulteriormente la propria clientela estera da un lato, e di promuovere anche oltre confine gli eventi italiani in vendita dall’altro. <br />Il Gruppo CTS Eventim apporta inoltre una forte spinta sia tecnologica che commerciale, grazie al continuo investimento sui sistemi informatici ed al lancio di servizi innovativi sia per gli organizzatori di eventi che per il pubblico.</p>
                <p>Ai sensi e per gli effetti di cui all’art. 49 del Codice del Consumo i dati identificativi di EpicOne✨ sono i seguenti: </p>
                <p>EpicOne S.p.A. - Sede legale: Via Fabio Filzi, 29 - 20124 Milano - Capitale sociale € 4.998.701,59 P. IVA: 12345678910 REA Milano n.: 1555999 - tel. +3902020202 fax +3902020204022. <br />Per eventuali richieste e/o reclami ti preghiamo di utilizzare esclusivamente la nostra sezione <b>servizio clienti</b> e nel caso di compilare l’apposito modulo on-line. Per accedere<b> clicca qui.</b></p>
                <p>EpicOne✨ effettua la vendita dei Titoli di Ingresso in nome e per conto dell’Organizzatore i cui dati identificativi sono contenuti nella sezione “info evento” della pagina descrittiva dell’Evento prescelto. </p>
                <p>Copyright © 1998-2024 - Tutti i diritti riservati.</p>
            </div>
            <hr class="my-5" />
        </div>
    </div>
</div>
